<%- include("./partials/top.ejs")%>
<div class="basket">

    
    <div class="card">
        <div class="stepper-wrapper">
            <div class="stepper-item step1 active">
              <div class="step-counter">1</div>
              <div class="step-name">Verify Order</div>
            </div>
            <div class="stepper-item step2">
              <div class="step-counter">2</div>
              <div class="step-name">Confirm Order</div>
            </div>
        </div>

        <div class="vo">
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <%products.forEach( product =>{%>
                    <tr>
                        <td class="product"><div class="fakeimg"></div><span><%= product.name %></span></td>
                        <td>###</td>
                        <td>$$</td>
                        <td><button><a class="delete" data-doc="<%= product.product_id %>">delete</a></button></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
            <button><a class="clear" data-doc="<%= user.googleId%>">clear</a></button>
            <div class="total">TOTAL : ****$$</div>
    
            <div class="btnwrapper">
                <button><a href="/">button</a></button>
                <button class="verify">button</button>
            </div>
        </div>

        <div class="co" style="display: none;">
            <form>
                <h3>Fill in your personal info</h3>
                <input type="text" placeholder="input">
                <input type="text" placeholder="input">
                <input type="text" placeholder="input">
                <input type="text" placeholder="input">
            </form>
            <div class="btnwrapper">
                <button class="backToVerify">button</button>
                <button class="confirm">button</button>
            </div>
        </div>
    </div>

    <script>
        const rm = document.querySelectorAll('a.delete');
        rm.forEach(elmt =>{
            elmt.addEventListener('click', (e) => {
            const endpoint = `/baskets/removeProduct/${elmt.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
            });
        })
        
        const clr = document.querySelector('a.clear');
        clr.addEventListener('click', (e) => {
            const endpoint = `/baskets/clearBasket/${clr.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE',
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });
        
      </script>
<%- include("./partials/bottom.ejs")%>